/* Color Theme Swatches in Hex */
.Architecture-1-hex { color: #D9D3C7; }
.Architecture-2-hex { color: #A69B8D; }
.Architecture-3-hex { color: #D9A171; }
.Architecture-4-hex { color: #736253; }
.Architecture-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Architecture-1-rgba { color: rgba(216, 210, 199, 1); }
.Architecture-2-rgba { color: rgba(165, 154, 140, 1); }
.Architecture-3-rgba { color: rgba(216, 161, 112, 1); }
.Architecture-4-rgba { color: rgba(114, 97, 82, 1); }
.Architecture-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Architecture-1-hsla { color: hsla(39, 18, 81, 1); }
.Architecture-2-hsla { color: hsla(33, 12, 60, 1); }
.Architecture-3-hsla { color: hsla(28, 57, 64, 1); }
.Architecture-4-hsla { color: hsla(28, 16, 38, 1); }
.Architecture-5-hsla { color: hsla(0, 0, 15, 1); }


body{
    display: grid;

width: 100%;
/* background-color: darksalmon; */
margin: 0px 0px 0px 0px;
}



h2 {
color:white;
margin: 0px;
text-align: center;
}
p {
    color: aliceblue;
    text-align: center;

}
div.redbox {
    width: auto;
    height:25px;
    background-color: red;
    
}
div.bluebox {
    width: auto;
    height: 25px;
    background-color: blue;

}

div.orangebox {
    width: auto;
    height: 25px;
    background-color: orange;
}

   #bluebox {
    grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  color: white;
  background-color: black;
  padding: 30px;   

   }
   #redbox {
    grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  color: white;
  background-color: black;
  padding: 30px;       
   }
   #orangebox {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px;   
   }
   .main-container {
       display: grid;
       width: auto;
  background-color:aqua; 
  /* border: solid blue; */
  text-align: center;
  color: white;
  /* grid-template-columns: repeat(3, auto);
   */
   }
   h1  {
   /* border: 1px solid blue; */
   grid-column: 1/-1;
   grid-row: 1/2;
    padding: 100px;
    text-align: center;
    font-size: xx-large;

}



.sub-container {
display: flex;
justify-content: space-around;
  grid-column: 1/-1;
  grid-row: 2/3;
  text-align: center;
  color: white;
  background-color: black;
  padding: 30px;
}
   div.main-container {
   display: grid;
   grid-template-columns: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
   }
   @media (max-width:600px) {
    .sub-container {
        font-size: 1.5rem;
        line-height: 1.5;
        flex-direction: column;
    }

    }